html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    line-height: 1.5em;
    font-family: OpenSans, Quicksand, Roboto;
}

/* ----------
|  General
|- ---------*/

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #aaa;
}

kbd {
    margin: 0.2em;
    padding: 0.2em;
    background: #555;
    border-radius: 3px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul > li {
    margin: 0px;
    padding: 0px;
}

ul > li > a:hover {
    background: rgba(0,0,0,0.3);
}

/* ----------
|  Main Structure Elements
|- ---------*/

.panel {
    position: absolute;
    width: 90vw;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (min-width: 51em) {
    .panel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 50vw;
    }
}

.sidebar {
    animation: fade-in-help 0.6s;
    display: none;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 15em;
    padding: 0.8em 2em;
    text-align: justify;
    background: rgba(0,0,0,0.95);
    color: #fff;
}

#help {
    left: 0px;
}

#help.visible {
    display: block;
}

#settings {
    right: 0px;
    height: 400px;
    padding-bottom: calc(100vh - 1em - 400px);
}

#settings.visible {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ----------
|  Elements specific to the panel
|- ---------*/

h1 {
    font-weight: normal;
}

#tabsInfo {
    position: absolute;
    top: 1.2em;
    right: 0px;
    padding: 0.5em;
    border: 1px solid #aaa;
}


.panel input {
    display: block;
    width: calc(100% - 2em);
}

.panel ul {
    font-size: 1.05em;
    counter-reset: line;
}

.panel ul > li > a {
    position: relative;
    display: block;
    padding: 0.8em 2.8em;
    border-bottom: 1px solid #888;
}

.panel ul > li > a:before {
    counter-increment: line;
    content: counter(line);
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 1.5em;
    margin-right: 0.5em;
    padding: 0.2em 0.3em;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-family: Courier;
    text-align: center;
}

.tabs-list a {
    display: block;
}

/* ----------
|  Sidebars, right now:
|  - Help
|  - settings
|- ---------*/

.sidebar > h2 {
    font-weight: normal;
}

.sidebar button {
    display: block;
    margin: 1.5em 0px;
    padding: 0.6em 1em;
    border: 1px solid #aaa;
    background: rgba(0,0,0,0);
    color: #aaa;
}

.sidebar input[type="checkbox"] {
    display: inline-block;
    grid-row: auto;
    grid-column: 1 / span 1;
    margin: 0.2em 0.5em 0.2em 0px;
    vertical-align: middle;
}

.sidebar input[type="checkbox"] ~ label {
    display: inline-block;
    grid-row: auto;
    grid-column: 2 / span 1;
    width:   calc(100% - 3em);
    vertical-align: middle;
    text-align: left;
}

.sidebar button:hover {
    animation: invert 0.6s;
    filter: invert(1);
}

/* ----------
|  Animations
|- ---------*/

@keyframes fade-in-help {
    from { opacity: 0.4; width: 0px; }
    to   { opacity: 1.0; width: 15em; }
}

@keyframes invert {
    from { filter: invert(0); }
    to   { filter: invert(1); }
}
