html, body {
    margin: 0px;
    padding: 0px;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 50vw;
    background: #fff;
    font-family: OpenSans, Quicksand, Roboto;
}

h1 {
    font-weight: normal;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input {
    display: block;
    width: calc(100% - 2em);
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #aaa;
}

ul {
    margin: 0px;
    padding: 0px;
    font-size: 1.05em;
    counter-reset: line;
}

ul > li {
    margin: 0px;
    padding: 0px;
}

ul > li > a {
    position: relative;
    display: block;
    padding: 0.8em 2.8em;
    border-bottom: 1px solid #888;
}

ul > li > a:before {
    counter-increment: line;
    content: counter(line);
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 1.5em;
    margin-right: 0.5em;
    padding: 0.2em 0.3em;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-family: Courier;
    text-align: center;
}

ul > li > a:hover {
    background: rgba(0,0,0,0.3);
}

.tabs-list a {  
    display: block;
}

.panel {  
    margin: 5px;
}

#tabsInfo {
    position: absolute;
    top: 1.2em;
    right: 0px;
    padding: 0.5em;
    border: 1px solid #aaa;
}
